/*---[Name of Project] — Maintained by:[Maintainer] Email:[Maintainer's Email] — based on Hawidu CSS: http://code.google.com/p/hawiducss/ ---*/
/*--Type Selectors--*/
/*-Body-reset-*/
html{font-size:100.01%;}
body{background:#fff;color:#111;font-family:Arial,sans-serif;font-size:.875em;line-height:1.45;margin:0;}
article,aside,figure,footer,header,hgroup,nav,section{display:block;}
input{color:#111;font-family:Arial,sans-serif;vertical-align:top;}
button,.button,code,fieldset,input[type="file"] > input[type="button"],input[type="reset"],input[type="submit"],pre,select{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
embed,img,object{max-width:100%;}

/*-Link-*/
a:link{color:#004276;}
a:visited{}
a:hover{color:#f78418;}
a:active{}
a:focus{outline:1px dotted;}
/*Mailto & File Links*/
a[href^='mailto:']{background:transparent url(images/file_icon_sprite.gif) no-repeat scroll right 0;display:inline-block;padding:0 18px 0 0;}
a[href$='.pdf']{background:transparent url(images/file_icon_sprite.gif) no-repeat scroll right -44px;display:inline-block;padding:0 18px 0 0;}
a[href$='.xls'],a[href$='.csv'],a[href$='.xlsx']{background:transparent url(images/file_icon_sprite.gif) no-repeat scroll right -90px;display:inline-block;padding:0 18px 0 0;}
a[href$='.ppt'],a[href$='.pptx']{background:transparent url(images/file_icon_sprite.gif) no-repeat scroll right -136px;display:inline-block;padding:0 18px 0 0;}
a[href$='.doc'],a[href$='.rtf']{background:transparent url(images/file_icon_sprite.gif) no-repeat scroll right -182px;display:inline-block;padding:0 18px 0 0;}
a[href$='.zip'],a[href$='.gzip'],a[href$='.rar']{background:transparent url(images/file_icon_sprite.gif) no-repeat scroll right -228px;display:inline-block;padding:0 18px 0 0;}
	
/*-List-*/
ol{list-style:decimal outside;margin:.75em 0;padding:0 1em;}
ul{list-style-type:none;margin:.75em 0;padding:0 1em;}
  ul>li:before{border-color:transparent #111;border-style:solid;border-width:.35em 0 .35em .45em;content:"";display:block;height:0;left:-1.3em;position:relative;top:1.09em;width:0;}
	
/*-Heading-*/
h1{font-size:2.25em;margin:.75em 0 .25em 0;}
	h1 a:link,h1 a:visited{}
	h1 a:hover,h1 a:focus,h1 a:active{}
h2{font-size:1.75em;margin:.75em 0 .25em 0;}
	h2 a:link,h2 a:visited{}
	h2 a:hover,h2 a:focus,h2 a:active{}
h3{font-size:1.5em;margin:.75em 0 .25em 0;}
	h3 a:link,h3 a:visited
	h3 a:hover,h3 a:focus,h3 a:active{}
h4{font-size:1.25em;margin:.75em 0 .25em 0;}
	h4 a:link,h4 a:visited{}
	h4 a:hover,h4 a:focus,h4 a:active{}
h5{font-size:1em;margin:.75em 0 .25em 0;}
	h5 a:link,h5 a:visited{}
	h5 a:hover,h5 a:focus,h5 a:active{}
h6{font-size:.75em;margin:.75em 0 .25em 0;}
	h6 a:link,h6 a:visited{}
	h6 a:hover,h6 a:focus,h6 a:active{}

/*-Form-*/
fieldset{border:1px solid #e3e3e3;margin:1.5em 0;padding:.5em 1em;}
	fieldset ol{margin:0;padding:0;}
		fieldset li{list-style:none;margin:0;padding:.4em .75em;}
			fieldset li label,fieldset li .implicit-label{display:inline-block;margin:0 1em 0 0;width:9em;}
	input[type="password"],input[type="text"]{border:1px solid;border-color:#bbb #ccc #ccc #bbb;padding:.1em;}
	button,.button,input[type="file"] > input[type="button"],input[type="reset"],input[type="submit"],select{background-color:#f9f9f9;background-image:-ms-linear-gradient(bottom,rgba(0,0,0,.33),rgba(255,255,255,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.33),rgba(255,255,255,0));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.33),rgba(255,255,255,0));background-image:linear-gradient(bottom,rgba(0,0,0,.33),rgba(255,255,255,0));border:.1em solid;border-color:#ccc #bbb #bbb #ccc;cursor:pointer;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#ffffffff,endColorstr=#21000000);padding:.1em 10px;}
		button:hover,.button:hover,input[type="file"] > input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{background-color:#f0f0f0;}
		button,.button,input[type="reset"],input[type="submit"]{margin:0 1em 0 0;}
		input[type="file"]{font-size:.714em;}
		select[size],select[multiple]{background-image:none;}
  legend{margin:0 0 0 .6em;}
	optgroup{background:transparent;}
		option{background:transparent;}

/*-Table-*/
table{border:1px solid #ccc;border-collapse:collapse;border-spacing:0;font-size:inherit;margin:1.5em 10px;}
  caption{font-size:.75em;}
	thead{background:#ccc;font-weight:bold;}
		th{border-right:1px solid #ccc;border-bottom:1px solid #eee;padding:.25em 10px;}
	tbody tr:hover{background:#eee;}
	tbody tr:nth-child(even){background:#f9f9f9;}
	td{border-right:1px solid #ccc;border-bottom:1px solid #eee;padding:.25em 10px;}

/*-Other-*/
abbr,acronym{border-bottom:1px dotted #666;cursor:help;white-space:nowrap;}
address{font-style:italic;}
blockquote{background:#f9f9f9;border-left:1em solid #eee;margin:1.5em 1em;padding:.5em 1em;quotes:"\201C""\201D";}
	blockquote:before{color:#808080;content:open-quote;font-size:4em;line-height:.1em;margin-right:.25em;vertical-align:-.4em;}
	blockquote :first-child{display:inline;}
  blockquote :last-child{margin-bottom:0;}
code,pre{background:#f9f9f9;border:1px solid #ccc;display:block;font-family:Consolas,"Bitstream Vera Sans Mono","Courier New",monospace;font-size:1em;margin:1.5em 10px;padding:.5em 10px;white-space:pre-wrap;}
hr{background-color:#444;border-width:0;color:#444;height:2px;line-height:0;margin:1.8571em auto;page-break-after:always;text-align:center;width:90%;}
	hr:after{content:"\a7\a7";font-size:1.25em;}
img{-ms-interpolation-mode:bicubic;border:0 none;}
p{clear:both;margin:1.5em 0;}
q{quotes:"\201C""\201D""\2018""\2019";}
sub{bottom:-.25em;position:relative;vertical-align:baseline;}
sup{bottom:.33em;position:relative;vertical-align:baseline;}
	
/*--Utility Classes--*/
.button{-moz-appearance:button;-webkit-appearance:button;color:#000;display:inline-block;padding:.1em 10px;text-decoration:none;}
	.clicked,button.clicked,input.clicked{background-color:#e5e5e5;color:#fff;}
.column{float:left;margin:1.5em 0;width:50%;}
	.columnated-text{-moz-column-count:2;-moz-column-gap:20px;-webkit-column-count:2;-webkit-column-gap:20px;column-count:2;column-gap:20px;}
.hide{display:none;}
	.away{position:absolute;left:-9999px;}
.pill,button.pill,input.pill{-moz-border-radius:1px;-webkit-border-radius:1px;border-color:#ccc #bbb #bbb #fff;border-radius:1px;margin:0;}
	.pill-l,button.pill-l,input.pill-l{-moz-border-radius-bottomright:1px;-moz-border-radius-topright:1px;-webkit-border-top-right-radius:1px;-webkit-border-bottom-right-radius:1px;border-top-right-radius:1px;border-bottom-right-radius:1px;margin-right:0;}
	.pill-r,button.pill-r,input.pill-r{-moz-border-radius-bottomleft:1px;-moz-border-radius-topleft:1px;-webkit-border-top-left-radius:1px;-webkit-border-bottom-left-radius:1px;border-top-left-radius:1px;border-bottom-left-radius:1px;border-color:#ccc #bbb #bbb #fff;margin-left:0;}

/*--Internationalization--*/

/*--Structure--*/
article,aside,footer,header,nav,section{background:#fff;margin:0 10px;padding:0 10px;}
aside,header,nav{float:right;width:320px;}
nav,aside{clear:right;}

.hawidu{margin:0 auto;width:960px;}
	article{float:left;width:560px;}
	footer{clear:both;margin:10px;}

/*--Media Queries--*/
/*-Print-*/
@media print{
	/*Tag-level*/
	a:after{content:" (" attr(href) ") ";font-size:.8em;font-weight:normal;}
	
	/*Structure*/
	.hawidu,article{float:none;margin:0;padding:0;width:100%;}
		aside,footer,header,nav,.noprint{display:none;}
	}