[role=alert]{-moz-animation:show 10s;-webkit-animation:show 10s;animation:show 10s;background:#444;background:rgba(68,68,68,.9);border-radius:1em;bottom:1em;box-shadow:0 0 .5em rgba(0,0,0,.5);color:#fff;padding:1em;position:absolute;right:1em;z-index:999;}
@-moz-keyframes show{
	from{opacity:0;}
	33%{opacity:100;}
	99%{opacity:100;}
	to{display:none;opacity:0;}
	}
@-webkit-keyframes show{
	from{opacity:0;}
	33%{opacity:100;}
	99%{opacity:100;}
	to{display:none;opacity:0;}
	}
@keyframes show{
	from{opacity:0;}
	33%{opacity:100;}
	99%{opacity:100;}
	to{display:none;opacity:0;}
	}